body {
  background: black;
  color: #D3D5D7;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  
}

h1 {
  color: #D3D5D7;
  font-style: italic;
  font-family: "Times New Roman", Helvetica, Courier;
  font-size: 60px;
  letter-spacing: 0px;
  text-align: left;
  
  
}

h2 {
  color: #697782;
  font-size: 30px;
  letter-spacing: 0px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  color: #697782;
  font-size: 25px;
  letter-spacing: 0px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

h4 {
  color: #697782;
  font-size: 20px;
  letter-spacing: 0px;
  font-style: italic;
  font-family: "Times New Roman", Helvetica, sans-serif;
}

p {
  color:#D3D5D7;
  font-family: Arial, Geneva, Tahoma, sans-serif;
}

/* Link Colors */
a:link    { color:  hsl(220, 33%, 37%);  }
a:visited { color: hsla(199, 37%, 63%, 0.39); }
a:hover   { color: hsl(120, 100%, 35%); }
a:active  { color: hsl(120, 100%, 15%); }

div {
  height: auto;
  margin-bottom: 5px;
  border: 1px solid gray;
}
