body {
  background: black;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  
}

h1 {
  color: whitesmoke;
  font-style: italic;
  font-family: "Times New Roman", Helvetica, Courier;
  font-size: 60px;
  letter-spacing: 0px;
  text-align: left;
  
  
}

h2 {
  color: whitesmoke;
  font-size: 30px;
  letter-spacing: 0px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  color: whitesmoke;
  font-size: 25px;
  letter-spacing: 0px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

h4 {
  color: whitesmoke;
  font-size: 20px;
  letter-spacing: 0px;
  font-style: italic;
  font-family: "Times New Roman", Helvetica, sans-serif;
}

p {
  color:whitesmoke;
  font-family: Arial, Geneva, Tahoma, sans-serif;
}

/* Link Colors */
a:link    { color: whitesmoke;  }
a:visited { color: whitesmoke;  }
a:hover   { color:whitesmoke; }
a:active  { color: whitesmoke; }

div {
  height: auto;
  margin-bottom: 5px;
  border: 1px solid gray;
}
